{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}




body {
 background: url(ima.jpg);
  min-height: 180vh;
  display: flex;
  justify-content: center;
  align-items:;
    background-repeat: no-repeat;
	background-attachment: fixed;
   background-position: right;

    
    
}


@font-face{

font-family:P;
src: url(ITCEDSCR.TTF);


}

p{
  font-family:P;
  font-size: 400%;

}


.buttons {
  min-width: 400px;
  display: flex;
  justify-content: space-around;
/*justify-content: space-around;*/
}

.buttons a {
  text-decoration: none;
  font-size: 40px;
  width: 60px;
  height: 60px;

  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 100px 2px 200px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.1);
}
